### Lab Description
In this lab, you will prepare your dataset for Machine Learning models. Go back to **Lab 1 - Part b**, if any of the answers were wrong, find out why then fix your code. We will continue on the same dataset. Tasks you should perform are as follow: 

- data imputation
- data transformation

### Lab Tasks
- group by vehicles by cylinders. Replace missing values in each column by the median of available values in that column grouped by cylinders. 

### Lab Questions
1. Consider column ``horsepower``. The vehicle with how many cylinders are experiencing missing values in column ``horsepower``?
2. How many unique car names are in this dataset? 
3. After handling the above two scenarios, which columns need further data transformation?

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("auto.csv")
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140,3449,10.5,70,1,ford torino
4,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500

In [2]:
df.shape

(397, 9)

In [3]:
len(df['car name'].unique())

305

In [4]:
df = df.replace('?',np.nan )
df.isna().any()           #### horse power has null values

mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model year      False
origin          False
car name        False
dtype: bool

In [5]:
df['horsepower'] = df['horsepower'].apply(pd.to_numeric)

In [6]:
df[(df['horsepower'].isna())]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
31,25.0,4,98.0,NaN,2046,19.0,71,1,ford pinto
125,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
329,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
335,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
353,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
373,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl

In [7]:
grouped_data = df[['cylinders','horsepower']].groupby('cylinders')
grouped_data

In [8]:
def impute_median(series):
    return series.fillna(series.median())

In [9]:
df['horsepower'] = grouped_data['horsepower'].transform(impute_median)

In [10]:
df[(df['horsepower'].isna())]   ### proves no nan in this column

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [11]:
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500