Change directory

In [2]:
import os
os.chdir(
'C:\\Users\\obaid\\OneDrive\\Documents\\programmingDataScience')

In [6]:
print(True)
True
bool(0)
int("1")
str(7)
float(0)

val = "obaid Masih is a string"
print(val)

True
obaid Masih is a string

Boolean Varaiables

In [8]:
5 == 4

False

In [9]:
5<4

False

In [10]:
5 == 5

True

In [11]:
5 != 3

True

In [12]:
not True

False

In [13]:
(not True) or (not False) ## answer should be false OR true = true

True

# Integers & roundings

In [14]:
int(2.51)  ## this will give 2 as it casts into integer

2

In [15]:
round(0.5)

0

In [16]:
round(1.5)

2

In [17]:
round(0.7)

1

# Operators

In [18]:
1+2
5-3
5*4
11/2
11//2
11%2
13^4
13**4

28561

In [19]:
11//2

5

In [22]:
11/2

5.5

In [23]:
11//2

5

# String Values in Python

In [33]:
val = 'Hello'
val += ' World!'
val = val + " "+"also"
val += " "+'some more--'
print(val)

Hello World! also some more--

# Lists & collections

In [7]:
list_ex = []


list_ex = [3]
list_ex = [3]+[9]
list_ex += [4,5,6]

print(list_ex)

[3, 9, 4, 5, 6]

In [8]:
not(list_ex) ## Return true if empty

False

In [11]:
list_ex.append(7)
list_ex

[3, 9, 4, 5, 6, 7, 7, 7]

In [13]:
list_ex.extend([3,3]) ## does same as append
list_ex

[3, 9, 4, 5, 6, 7, 7, 7, 3, 3, 3, 3]

In [14]:
list_ex[1]

9

In [15]:
list_ex[0]

3

In [16]:
list_ex[-2]

3

In [17]:
list_ex[-5]

7

In [18]:
list_ex[3:]

[5, 6, 7, 7, 7, 3, 3, 3, 3]

In [19]:
list_ex[1:]

[9, 4, 5, 6, 7, 7, 7, 3, 3, 3, 3]

# Tuples _ Lists that cannot be altered

In [21]:
tup_ex = ('a','b','c','d','e')
tup_ex

('a', 'b', 'c', 'd', 'e')

In [22]:
tup_ex += 1   ### integers not allowed  # should give an error

TypeError: can only concatenate tuple (not "int") to tuple

In [23]:
tup_ex += 'q' ## once made then no change is allowed # should give an error

TypeError: can only concatenate tuple (not "str") to tuple

In [24]:
tup_ex[3] = 'c'  ### once again no change is allowed , its great for governance process

TypeError: 'tuple' object does not support item assignment

In [25]:
tup_ex[3]

'd'

In [27]:
('hello','world')[5<2]  ### string gets treated like tuple so be cautious

'hello'

# DICTIONARIS key:value(or even list)

In [30]:
dict1 = {'a':1,'b':2,'c':[1,2,3,4,5,6,6,6,7,7,7,7]}
dict1

{'a': 1, 'b': 2, 'c': [1, 2, 3, 4, 5, 6, 6, 6, 7, 7, 7, 7]}

In [33]:
dict1['c']

[1, 2, 3, 4, 5, 6, 6, 6, 7, 7, 7, 7]

In [34]:
dict1['b']

2

In [35]:
dict1['d']  ### no such key should be found in dictionary

KeyError: 'd'

In [36]:
dict1.get('c',3)

[1, 2, 3, 4, 5, 6, 6, 6, 7, 7, 7, 7]

In [38]:
dict1['c'][0]

1

# Conditions _ no Paranthesis but line indententions

In [39]:
if True:
    print('it\'s true')
    print('it\'s still true')
else:
    print('it\'s false')
print('I run no matter what')

it's true
it's still true
I run no matter what

In [42]:
if (5>3):
   print('Of course I will print')
else:
    print('I should not get print')
print("I will be second line to print")

Of course I will print
I will be second line to print

# for loops, no () but line indentations

In [44]:
for i in range(90,100,2):
    print(i)

90
92
94
96
98

In [46]:
for i in range(5,25,5):
    print(i)

5
10
15
20

In [47]:
list_ex

[3, 9, 4, 5, 6, 7, 7, 7, 3, 3, 3, 3]

In [48]:
for val in list_ex[2:7]:
    print(val)

4
5
6
7
7

In [49]:
for i,val in enumerate(list_ex):
    print(i,val)

0 3
1 9
2 4
3 5
4 6
5 7
6 7
7 7
8 3
9 3
10 3
11 3

In [53]:
for k in enumerate(list_ex):
    print(k)

(0, 3)
(1, 9)
(2, 4)
(3, 5)
(4, 6)
(5, 7)
(6, 7)
(7, 7)
(8, 3)
(9, 3)
(10, 3)
(11, 3)

In [54]:
dict1

{'a': 1, 'b': 2, 'c': [1, 2, 3, 4, 5, 6, 6, 6, 7, 7, 7, 7]}

In [60]:
for k in enumerate(dict1):
    print(k)
    ## only the values will get printed

(0, 'a')
(1, 'b')
(2, 'c')

In [64]:
tmp = 5
while tmp > 0:
    print(tmp)
    tmp -= 2
    if tmp < 0:
        tmp = 6
        #continue
        break

5
3
1

# Function in python

In [65]:
def factorial(x):
    if x <= 1:
        return(1)
    else:
        return(factorial(x-1)*x)

In [66]:
factorial(4)

24

# more with lists and useful coding

In [67]:
ist_ex = [1,2,3]
tmp = list_ex
list_ex = [x**2 for x in list_ex] 
list_ex
tmp

[3, 9, 4, 5, 6, 7, 7, 7, 3, 3, 3, 3]

In [69]:
ist_ex = [1,2,3]
ist_ex = [x*4 for x in ist_ex]
ist_ex

[4, 8, 12]

In [70]:
list_ex = [1,2,3]
tmp = list_ex
for i in range(len(list_ex)):
    list_ex[i] = list_ex[i]**2
list_ex
tmp
### simply takes in a list and squares it 
## easier ways to do it

[1, 4, 9]

In [73]:
list3 = [0,1,2,3,4]
list4=[x**3 for x in list3]
list4
### my way is better and it cubes the numbers in list

[0, 1, 8, 27, 64]