# BRING DATA IN and make df so get ready for some killer analysis

In [4]:
import csv
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('BWGHT.csv')

In [5]:
'''  
import sqlite3

con = sqlite3.connect("bwght.db")
con.isolation_level = None
cur = con.cursor()
cur.execute("SELECT * FROM MYTABLE")   ### only works if there is a table exists with name MYTABLE

'''

'  \nimport sqlite3\n\ncon = sqlite3.connect("bwght.db")\ncon.isolation_level = None\ncur = con.cursor()\ncur.execute("SELECT * FROM MYTABLE")   ### only works if there is a table exists with name MYTABLE\n\n'

In [6]:

import sqlalchemy

engine = sqlalchemy.create_engine('')
df = pd.read_sql_table("MyTable",engine,columns=[])

query= '''

SELECT * FROM TABLE1 INNERJOIN TABLE2
         ON TABLE1.ID = TABLE2.ID
WHERE PRICE >=20 AND LOCATION = 'NAM'
'''

df= pd.read_sql_query(query,engine)

SyntaxError: invalid syntax (<ipython-input-6-7e93691cd151>, line 9)

In [15]:
df.describe()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
count,1388.000000,1388.000000,1388.000000,1388.000000,1192.000000,1387.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,29.026657,19.552954,130.559006,118.699568,13.186242,12.935833,1.632565,0.520893,0.784582,2.087176,4.760031,7.418723,0.104359,3.071271
std,18.739285,7.795598,10.244484,20.353964,2.745985,2.376728,0.894027,0.499743,0.411260,5.972688,0.190662,1.272123,0.298634,0.918064
min,0.500000,2.000000,103.800000,23.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,3.135494,1.437500,0.000000,-0.693147
25%,14.500000,15.000000,122.800000,107.000000,12.000000,12.000000,1.000000,0.000000,1.000000,0.000000,4.672829,6.687500,0.000000,2.674149
50%,27.500000,20.000000,130.800000,120.000000,12.000000,12.000000,1.000000,1.000000,1.000000,0.000000,4.787492,7.500000,0.000000,3.314186
75%,37.500000,26.000000,137.000000,132.000000,16.000000,14.000000,2.000000,1.000000,1.000000,0.000000,4.882802,8.250000,0.000000,3.624341
max,65.000000,38.000000,152.500000,271.000000,18.000000,18.000000,6.000000,1.000000,1.000000,50.000000,5.602119,16.937500,2.500000,4.174387

In [16]:
df.shape

(1388, 14)

In [51]:
df.shape[1]

14

In [13]:
df.columns

Index(['faminc', 'cigtax', 'cigprice', 'bwght', 'fatheduc', 'motheduc',
       'parity', 'male', 'white', 'cigs', 'lbwght', 'bwghtlbs', 'packs',
       'lfaminc'],
      dtype='object')

In [66]:
ls = df.isna().any()
ls

faminc      False
cigtax      False
cigprice    False
bwght       False
fatheduc     True
motheduc     True
parity      False
male        False
white       False
cigs        False
lbwght      False
bwghtlbs    False
packs       False
lfaminc     False
dtype: bool

In [39]:
y= df['bwght']
x=df[['faminc','cigprice']]

print(y.head(3))
print(x.head(3))

0    109
1    133
2    129
Name: bwght, dtype: int64
   faminc  cigprice
0    13.5     122.3
1     7.5     122.3
2     0.5     122.3

In [36]:
from scipy.stats import norm

class lm0:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        (self.n,self.r) = x.shape
        xx = np.dot(x.T,x)
        xy = np.dot(x.T,y)
        self.xxi = np.linalg.inv(xx)
        self.b = np.linalg.solve(xx,xy)
        e = y - np.dot(x,self.b)
        self.resid = e
        self.vb = self.genvariance(e)
        self.se = np.sqrt(np.diagonal(self.vb))
        self.tstat = np.divide(self.b,self.se)
        self.pval = 2*norm.cdf(-np.abs(self.tstat))
        self.rsq = 1-e.var()/y.var()
        self.adjrsq = 1-(1-self.rsq)*(self.n-1)/(self.n-self.r)
        self.logl = -self.n/2*(np.log(2*np.pi*e.var())+1)
        self.aic = 2*self.r-2*self.logl
        self.bic = np.log(self.n)*self.r-2*self.logl
        nulllike = -self.n/2*(np.log(2*np.pi*y.var())+1)
        self.deviance = 2*(self.logl-nulllike)
    def genvariance(self,e):
        return e.var()*self.xxi
    def predict(self,*args):
        if len(args)>=2:
            raise Exception('Predict takes 0 or 1 argument')
        elif len(args)==0:
            newx = self.x
        else:
            newx = args[0]
        return np.dot(newx,self.b)
    def tidy(self):
        df = [self.b,self.se,self.tstat,self.pval]
        df = [x.reshape(-1,1) for x in df]
        df = np.hstack(df)
        df = pd.DataFrame(df,columns=['est','std.err','t.stat','p.val'])
        return df
    def glance(self):
        df = pd.DataFrame(columns=['r.squared','adj.rsq','r','logl',\
                                   'aic','bic','deviance','df'])
        df.loc[0] = [self.rsq,self.adjrsq,self.r,self.logl,self.aic,\
                     self.bic,self.deviance,self.n-self.r]
        return df
    def mspe(self,xtest,ytest):
        err = ytest - self.predict(xtest)
        return np.array(err.var())

class lm(lm0):
    def __init__(self,x,y):
        (self.n,self.r) = x.shape
        ones = np.ones((self.n,1))
        x = np.hstack((ones,x))
        super(lm,self).__init__(x,y)
    def predict(self,*args):
        if len(args)==1:
            newx = args[0]
            m = newx.shape[0]
            ones = np.ones((m,1))
            newx = np.hstack((ones,newx))
            return super(lm,self).predict(newx)
        return super(lm,self).predict(*args)

class white(lm):
    def genvariance(self,e):
        meat = np.diagflat(e**2)
        meat = self.x.T.dot(meat).dot(self.x)
        return self.xxi.dot(meat).dot(self.xxi)

In [40]:
model1 = lm0(x,y)

In [41]:
model1.xxi

array([[ 2.07060159e-06, -4.59744321e-07],
       [-4.59744321e-07,  1.44087053e-07]])

In [42]:
model1.aic

12500.68348461591

In [43]:
model1.bic

12511.154722898043

In [48]:
print(model1.glance())

   r.squared   adj.rsq    r         logl           aic           bic  \
0  -0.149062 -0.149891  2.0 -6248.341742  12500.683485  12511.154723

     deviance      df
0 -192.856771  1386.0

In [49]:
model1.tidy()

        est   std.err      t.stat     p.val
0  0.125786  0.031396    4.006478  0.000062
1  0.876274  0.008282  105.805078  0.000000